/* Navbar */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Adjust background color as needed */
    
}

nav {
    background-color: #ffffff;
    color: #0c0c0c;
    padding: 20px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 51px;
    background: linear-gradient(145deg, #ffffff, #ffffff);
    box-shadow:  20px 20px 60px #bebebe,
         -20px -20px 60px #ffffff;
}

.nav-logo {
    display: flex;
}

nav img {
    height: 40px; /* Adjust the height as needed */
    width: auto;
    margin-left:  5px;
}

nav div ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav div ul li {
    margin-right: 20px;
}

nav div ul li a {
    text-decoration: none;
    color: #0f0f0f;
    font-weight: bold;
}


#navbar-menu li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 25px;
    padding: 8px 16px; /* Adjust padding as needed */
    border-radius: 30px; /* Optional: Add rounded corners */
    transition: background-color 0.4s ease; /* Smooth transition */
}

/* hover ness for Navbar manu*/
#navbar-menu li a:hover {
    background-color: #eaeaea;/* Change to the desired hover color */

}

#login-section ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

#login-section ul li {
    margin-right: 10px;
}

#login-section ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: small;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 8px 16px; /* Adjust padding as needed */
    background-color: #5A189A; /* Background color for the buttons */
    border-radius: 20px; /* Optional: Add rounded corners */
}
/* hover ness for Login manu*/
#login-section ul li a:hover {
    background-color: #9D4EDD; /* Background color for the buttons */
    color: #ffffff;
}